body{
    background-color: rgba(43, 226, 141, 0.61);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-control{
    width : 50% !important;
}